.card {
  background-color: var(--surface-color);

  display: flex;
  overflow: hidden;
  align-items: center;
  padding: 8px 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px var(--shadow-color);

  &_interactive {
    cursor: pointer;
  }
  &__image {
    height: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
  }

  &__description {
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    max-width: 30%;
  }

  &__title {
    font-size: var(--font-size-big);

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__subtitle {
    color: var(--grey);

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__content {
    margin-left: 24px;
  }
}
